<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
</head>
<body>
{% include 'main/components/header.html' %}
<div class="flex flex-col items-center ">
    <div class="max-w-5xl w-full bg-gray-200 my-2 p-2 rounded">
        {% block main %}{% endblock %}
    </div>
</div>

{% include 'main/components/footer.html' %}
<script src="{% static 'alpinejs.js' %}"></script>
</body>
</html>