<!doctype html>
{% load static %}
<html lang="fa" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
</head>

<body>
<div class="flex h-screen relative" x-data="{menu:false}">
    <div class="w-full md:pr-64">
        {% include 'layout/top-bar.html' %}
        <main class="p-2 pt-16 h-screen text-right">
            {% block main %}{% endblock %}
        </main>
        <div class="fixed bottom-0 left-8">
            <span class="bg-slate-800 p-2 rounded text-white">طراحی شده توسط : <a href="https://bashizade.github.io" target="_blank">امیرحسین باشی زاده</a></span>
        </div>
    </div>
    {% include 'layout/side-bar.html' %}
</div>

<script src="{% static 'alpinejs.js' %}"></script>
</body>

</html>