{% extends 'main/layout/master.html' %}

{% block main %}
<div class="w-full p-1 rounded overflow-hidden relative h-80 mb-2"
     x-data="{images:[{% for slide in slides %}'{{slide.image}}',{% endfor %}],slideIndex:0}">
    <div>
        <img x-bind:src="'static/'+images[slideIndex]" class="w-full" alt="slide" loading="eager">
    </div>
    <div class=" absolute top-1/2 left-2 text-white">
        <span class="p-4 bg-black/50 rounded-full" @click="slideIndex = slideIndex>images.length ? slideIndex - 1 : 0 "> < </span>
    </div>
    <div class=" absolute top-1/2 right-2 text-white">
        <span class="p-4 bg-black/50 rounded-full" @click="slideIndex = slideIndex<images.length ? slideIndex + 1 : 0 "> > </span>
    </div>
</div>

<div class="grid grid-cols-3 gap-2">
    <h1 class="text-center col-span-3">جدیدترین ها</h1>
    {% for article in articles %}
    {% include 'main/components/article_card.html' with title=article.title img=article.image info=article.info %}
    {% endfor %}

    <div class="col-span-3">
        <a href=""><button class="btn btn-accent">مشاهده بیشتر</button></a>
    </div>
</div>

{% endblock %}